.header {
    background: gray;
    text-align: center;
    color: white;
}

.sidebar {
    background-color: lightgray;
    padding: 10px, 10px, 10px, 10px;
    margin-right: auto;
}

.card {
    margin: 10px;
}

.card-container {
    margin: 15px;
}